<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{curso}}</h1>
        <p><strong>Profesor:</strong> {{profesor}}</p>
        <p><strong>Fecha:</strong> {{fecha}}</p>
    </body>
</html>